  <% if lender.errors.any? %>
    <div class="flash alert">
      <h4>
        <%= pluralize(lender.errors.count, "error") %> 
        prohibited the lender from saving: 
      </h4>
      <ul style="margin: 0.5rem 0 0 0; padding-left: 1.5rem;">
        <% lender.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>